html {
	width: 100%;
	height: 100%;
	overflow: hidden;
	-webkit-tap-highlight-color: transparent;
}

body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	user-select: none;
}

.text-bold {
	font-weight: 600;
}


.adjustScreen {
	min-width: 200px;
}

@media only screen and (max-width: 1000px) {
	.adjustScreen {
		min-width: 100vw;
	}
}
